#channelPane {
  background-color: #5e5d59;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}
#messageChannelTitle {
  margin: 0;
  background-color: #a7942d;
  color: white;
  padding: 1em;
  padding-bottom: 0.5em;
}
#messagePane {
  background-color: #5e5d59;
  margin: 0;
  padding-left: 1em;

  width: 100%;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow-y: auto;
}
.messageInput {
  box-sizing: border-box;
  margin: 0.5em;
  padding: 1.5em;

  resize: none;
  background-color: #404040;
  border: none;
  color: white;
  border-radius: 1em;
}

.message {
  color: white;
  /*border-radius: 1em;*/
  margin: 1.5em 0.75em 0 0;

  display: flex;
  flex-direction: row;
}
.message:hover {
  background-color: rgb(78, 78, 76);
  border-radius: 1em;
}
.message.minimal {
  padding-left: 3.5em;
  margin-top: 0;
}

.message span {
  flex-grow: 1;
  margin-right: 0.5em;
}

.message .messageUsername {
  font-weight: 600;
}
.message .messageUserIcon {
  display: inline-block;
  border-radius: 4em;
  margin-right: 1em;
  height: 2.5em;
  width: 2.5em;
}
.message .messageContent {
  display: inline-block;
  flex-grow: 2;
}
.message .messageContent p {
  margin: 0;
}
.message .editedLabel {
  color: lightgray;
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.75em;

  user-select: none;
}

.messageInput.edit {
  width: 100%;
  min-width: 100%;
  padding: 0.5em;
}

.messageActionContainer {
  float: right;
  margin-left: auto;
  margin-right: 2px;
  align-self: center;
}

.messageActionButton {
  cursor: pointer;
}
.messageActionButton:hover {
  text-decoration: underline;
}

.message .messageActionContainer {
  display: none;
}
.message:hover .messageActionContainer {
  display: inline-block;
}

.messageAlert {
  text-align: center;
  color: white;
  background-color: #a7942d;
  padding: 4px;
  cursor: pointer;
}
.messageAlert:hover {
  background-color: #ffd800;
  color: black;
}

.selected::before {
  font-style: italic;
}

code {
  background-color: #404040;
  padding: 0.25em;
  border-radius: 0.5em;
  border: 1px solid #161616;
}
