.towerList {
	background-color: #FFD800;
	padding: 0;
	list-style: none;
	margin: 0;
  }
  .towerList hr {
	margin: 0 0.5em;
	color: black;
  }
  
  .towerIcon {
	margin: 1em 0.5em;
	width: 72px;
	height: 72px;
	background-color: #404040;
  
	text-align: center;
  
	overflow: hidden;
  
	border-radius: 72px;
	transition: 0.1s;
  }
  .towerIcon:hover {
	cursor: pointer;
	border-radius: 20px;
	transition: 0.1s;
  }
  .towerIcon.selected {
	background-color: #404040;
	border-radius: 20px;
  }
  .towerIcon span {
	height: 72px;
	display: table-cell;
	vertical-align: middle;
	color:white;
	font-weight: bold;
  }
  .towerIcon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }