#towerDetailsPanel {
	color: white;
	background-color: #404040;
	max-width: 300px;
	width: 50%;
	min-width: 15%;
	margin: 0;
	transition: 0.1s;
}
#towerDetailsPanel .title {
	background-color:#292929;
	padding: 1em;
	margin-top: 0;
	border-radius: 0 0 1em 1em;
}
#towerDetailsPanel h2 {
	margin: 0;
	margin-bottom: 1em;
}

#bannerContainer {
	width: 100%;
	overflow-y: hidden;
	position: relative;

	transition: 0.2s;
}

#banner {
	position: relative;
	width: 100%;
	height: auto;
}

#bannerContainer::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%; height: 40%;
	background: linear-gradient(#FFFFFF00,#292929);
}

#towerControls {
	display: flex;
}

.towerControlButton {
	background-color: #54524A;
	color:#cac7bb;
	padding: 0.25em;
	border-radius: 0.5em;
	font-weight: bold;

	margin: 0 0.25em;

	overflow: hidden;
	height: 1.5em;
}

.towerControlButton:hover {
	color:white;
	cursor:pointer;
}

#inviteButton {
	overflow: hidden;
	flex-grow: 2;
}
#inviteButtonText {
	line-height: 1.5em;
	transition: 0.1s;
}
#inviteButtonText.selected {
	transform: translateY(-1.5em);
	transition: 0.1s;
}

#channelList {
	list-style: none;
	padding-left: 1em;
}

.channelIcon {
	margin: 1em 0
}
.channelIcon:hover {
	font-weight: bold;
	cursor: pointer;
}
.channelIcon.selected {
	background-color: #5e5d59;
	font-weight: bold;
	padding: 0.5em;
	padding-left: 1em;
	width: 100%;

	border-radius: 1em 0 0 1em;
}

#customizer {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-gap: 1.5em;
}