#userDetailsPane {
	background-color: #404040;
	width: 100%;
	padding: 2em;
  }
  #userDetails {
	background-color: #54524A;
	width:50%;
	height:100%;
	border-radius: 2em;
	box-shadow: inset 0 0 3px black;
  
	color: white;
  
	padding: 2em;
	box-sizing: border-box;
  }
  #userDetails .username {
	font-weight: bolder;
	font-size: 3em;
  }

  #avatarContainer  {
	width: 10em;
	height: 10em;
	overflow: hidden;
	border-radius: 1em;

	position: relative;

	cursor: pointer;
  }
  #userAvatar {
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	top: 0;
  }
  #avatarEdit {
	width: 100%;
	height: 100%;
	background-color: black;
	text-align: center;

	opacity: 0;
	transition: 0.1s;

	position: absolute;
	z-index: 9;
  }
  #avatarEdit span {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
  }

  /* Reveal 'edit' button on hover*/
  #avatarContainer:hover #avatarEdit {
	opacity: 0.5;
	transition: 0.1s;
  }